body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 130%;
}

h1 {
  font-size: 2em; /* 32px */
  line-height: 150%;
}

p {
  font-size: 100%; /* 16px */
  line-height: 115%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a:link {
  color: hotpink;
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

a:active {
  color: blue;
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
  background: #fff url(images/bloc-logo.png) no-repeat top left;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 75%;
}
